body {
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-family: Arial;
  color: #333;
}

#main {
  background-color: #e8e8e8;
  border-radius: 5px;
  margin: 30px 5px;
  padding-bottom: 10px;
}

h1 {
  font-size: 40px;
  padding-top: 40px;
}

#img-div {
  background-color: white;
  margin: 15px;
  padding-bottom: 5px;
  border-radius: 1px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
}

li {
  margin: 16px 0;
}

#footer-text {
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}






